<!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<div id="bpmnEditDiv" style="display:none">
    <form method='post' action='apis/upload_bpmn' onsubmit='return completeBPMNDetails()'
          enctype="multipart/form-data" target="_blank"
          class="form-horizontal" id="form-bar-create"
          data-redirect-url='{{url ""}}/assets/{{rxt.shortName}}/list'>
        <br/>

        <div style="float:left;width:15cm">
            <input type="file" class="filestyle" data-buttonName="btn-primary"
                   data-placeholder="Enter archive"
                   name="bpmn" id="bpmnFile" data-buttonText="BPMN file" accept=".xml,.bpmn">
        </div>
        <br/><br/>

        <input type="hidden" id="bpmnProcessName" name="bpmnProcessName"/>
        <input type="hidden" id="bpmnProcessVersion" name="bpmnProcessVersion"/>

        <div id="saveButtons" class="form-actions">
            <input type='submit' id="btn-create-asset-bar" class="btn btn-primary"
                   name="addNewAssetButton" value='{{t "Upload file"}}' href="JavaScript:window.close()">

            <button class="btn" type="reset">{{t "Reset"}}</button>
            <input type="hidden" value="{{rxt.shortName}}" name="{{rxt.shortName}}"
                   id="meta-asset-type">
        </div>
    </form>
</div>