<!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div id="analyticsConfigDiv">
    </br>
    </br>
    <input type="hidden" id="processNameHiddenElement" value={{processName}}>
    <input type="hidden" id="processVersionHiddenElement" value={{processVersion}}>

    <h2 class="field-title">
        <a class="collapsing-h2" aria-expanded="true" href="#collapsevariableinfo" data-toggle="collapse">
            <i class="cu-btn-exp-col btn-collapsed">Process Variables to Config for Analysis</i> </a>
    </h2>

    <div class="collapse in responsive-form-container" id="collapsevariableinfo">
        {{#unless DASAnalyticsConfigured}}
            <div class="add-unbounded-row" float="left" width="100%" style="width:auto; float:left;"><a
                    id="btn_addProcessVariablesRow" onclick="addProcessVariableRow('dataTable')"><i
                    class="fa fa-plus-circle"></i> Add Process Variable</a></div>
            <div class="add-unbounded-row" style="width:auto;padding-left: 25pt; margin-left:10%;"><a
                    id="btn_deleteProcessVariablesRow" onclick="deleteProcessVariableRow('dataTable')"><i
                    class="fa fa-plus-circle"></i> Delete Process Variable</a></div>
            <br>
        {{/unless}}

        <div style="width: 55%;">
            <table id="dataTable" class="table table-striped table-bordered">
                <thead>
                <tr style="background-color:#66c2ff">
                    <th class="col-sm-1"></th>
                    <th class="col-sm-2">Variable Name</th>
                    <th class="col-sm-1">Type</th>
                    <th class="col-sm-1">Analyzing Data</th>
                    <th class="col-sm-1">Drill Down Variable</th>
                </tr>
                </thead>
                {{#if DASAnalyticsConfigured}}
                    {{#each processVariableList.processVariables}}
                        <tr>
                            <td><input type="checkbox" name="chk" disabled="true"  style="width: 30px; height: 30px;"/></td>
                            <td><input style="display:table-cell; width:100%; padding-left: 8px;" type="text" name="txt"
                                       value="{{this.name}}" disabled="true" onkeydown="processVariableAutoComplete(this)"/></td>
                            <td>
                                <select name="varType" style="display:table-cell; width:100%" disabled="true">
                                    <option value="int">{{this.type}}</option>
                                </select>
                            </td>


                            {{#if_equal this.isAnalyzeData "true"}}
                                <td align="center">
                                    <input type="checkbox" name="chkAnalyzedData" disabled="true" checked/></td>
                            {{else}}
                                <td align="center">
                                    <input type="checkbox" name="chkAnalyzedData" disabled="true"/></td>
                            {{/if_equal}}

                            {{#if_equal this.isDrillDownVariable "true"}}
                                <td align="center">
                                    <input type="checkbox" name="chkDrillData" disabled="true" checked/></td>
                            {{else}}
                                <td align="center">
                                    <input type="checkbox" name="chkDrillData" disabled="true"/></td>
                            {{/if_equal}}
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td><input type="checkbox" name="chk"/></td>
                        <td><input style="display:table-cell; width:100%; padding-left: 8px;" type="text" name="txt" onkeydown="processVariableAutoComplete(this)"/></td>
                        <td>
                            <select id="selVarType_0" style="display:table-cell; width:100%" name="varType"
                                    onchange="disableCheckBox(0,this)">
                                <option value="int">int</option>
                                <option value="long">long</option>
                                <option value="double">double</option>
                                <option value="float">float</option>
                                <option value="string">string</option>
                                <option value="bool">bool</option>
                            </select>
                        </td>
                        <td align="center"><input type="checkbox" id="chkAnalyzedData_0"
                                                  name="chkAnalyzedData"/></td>
                        <td align="center"><input type="checkbox" id="chkDrillData_0"
                                                  name="chkDrillData" disabled/></td>
                    </tr>
                {{/if}}
            </table>
        </div>
    </div>

    <h2 class="field-title">
        <a class="collapsing-h2" aria-expanded="true" href="#collapseEventStreamInfo" data-toggle="collapse">
            <i class="cu-btn-exp-col btn-collapsed">Event Stream Information</i> </a>
    </h2>
    <div class="collapse in responsive-form-container" id="collapseEventStreamInfo">


        <form id="collapseEventStreamInfoForm" class="form-horizontal">
            {{#if DASAnalyticsConfigured}}
                <div class="form-group">
                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Event Stream Name<sup
                            class="required-field">*</sup></label>
                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                        <input onblur="blurIt()" type="text" name="event_stream_name" id="eventStreamName"
                               class="form-control" required="" value="{{eventStreamName}}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Version<sup
                            class="required-field">*</sup></label>
                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                        <input onblur="blurIt()" type="text" name="event_stream_version" id="eventStreamVersion"
                               class="form-control" required="" value="{{eventStreamVersion}}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Description</label>
                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                        <input onblur="blurIt()" type="text" name="event_stream_description" id="eventStreamDescription"
                               class="form-control" required="" value="{{eventStreamDescription}}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Nick Name</label>
                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                        <input onblur="blurIt()" type="text" name="event_stream_nick_name" id="eventStreamNickName"
                               class="form-control" value="{{eventStreamNickName}}" readonly>
                    </div>
                </div>
            {{else}}
                <div class="form-group">
                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Event Stream Name<sup
                            class="required-field">*</sup></label>
                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                        <input onblur="blurIt()" type="text" name="event_stream_name" id="eventStreamName"
                               class="form-control" required=""
                               value="{{processName}}_{{processVersion}}_process_stream">
                    </div>
                </div>
                <div class="form-group">
                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Version<sup
                            class="required-field">*</sup></label>
                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                        <input onblur="blurIt()" type="text" name="event_stream_version" id="eventStreamVersion"
                               class="form-control" required="" value="1.0.0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Description</label>
                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                        <input onblur="blurIt()" type="text" name="event_stream_description" id="eventStreamDescription"
                               class="form-control" required=""
                               value="This is the event stream generated to configure process analytics with DAS, for the process :{{processName}}_{{processVersion}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Nick Name</label>
                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                        <input onblur="blurIt()" type="text" name="event_stream_nick_name" id="eventStreamNickName"
                               class="form-control" value="{{processName}}_{{processVersion}}_process_stream">
                    </div>
                </div>
            {{/if}}
        </form>

    </div>

    <h2 class="field-title">
        <a class="collapsing-h2" aria-expanded="true" href="#collapseEventReceiverInfo" data-toggle="collapse">
            <i class="cu-btn-exp-col btn-collapsed">Event Receiver Information</i>
        </a>
    </h2>
    <div class="collapse in responsive-form-container" id="collapseEventReceiverInfo">
        <form id="collapseEventReceiverInfoForm" class="form-horizontal">
            {{#if DASAnalyticsConfigured}}
                <div class="form-group">
                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Event Receiver Name<sup
                            class="required-field">*</sup></label>
                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                        <input onblur="blurIt()" type="text" placeholder="Enter Event Receiver Name"
                               name="event_receiver_name" id="eventReceiverName" class="form-control" required=""
                               value="{{eventReceiverName}}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Input Event Adapter Type<sup
                            class="required-field">*</sup></label>
                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                        <input onblur="blurIt()" type="text" name="input_event_adapter_type" id="inputEventAdapterType"
                               class="form-control" required="" value="wso2event" readonly>
                    </div>
                </div>
            {{else}}
                <div class="form-group">
                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Event Receiver Name<sup
                            class="required-field">*</sup></label>
                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                        <input onblur="blurIt()" type="text" placeholder="Enter Event Receiver Name"
                               name="event_receiver_name" id="eventReceiverName" class="form-control" required=""
                               value="{{processName}}_{{processVersion}}_process_receiver">
                    </div>
                </div>
                <div class="form-group">
                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Input Event Adapter Type<sup
                            class="required-field">*</sup></label>
                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                        <input onblur="blurIt()" type="text" name="input_event_adapter_type" id="inputEventAdapterType"
                               class="form-control" required="" value="wso2event" readonly>
                    </div>
                </div>
            {{/if}}
        </form>
    </div>

    <h2 class="field-title">
        <a class="collapsing-h2" aria-expanded="true" href="#bpsAssociationInfo" data-toggle="collapse">
            <i class="cu-btn-exp-col btn-collapsed">BPS Association</i>
        </a>
    </h2>
    <div class="collapse in responsive-form-container" id="bpsAssociationInfo">
        <form id="bpsAssociationInfoForm" class="form-horizontal">
            <div class="form-group">
                <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Process Definition ID<sup
                        class="required-field">*</sup></label>
                <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                    {{#if DASAnalyticsConfigured}}
                        <input onblur="blurIt()" type="text" placeholder="Enter Process Definition ID"
                               name="process_definition_id" id="processDefinitionId" class="form-control" required=""
                               value="{{processDefinitionId}}" readonly>
                    {{else}}
                        <input onblur="blurIt()" type="text" placeholder="Enter Process Definition ID"
                               name="process_definition_id" id="processDefinitionId" class="form-control" required=""
                               value="{{processDeploymentID}}" readonly>
                    {{/if}}
                </div>
            </div>
        </form>
    </div>

    <div><label id="updateDisabledMessage"></label></div>
    {{#if DASAnalyticsConfigured}}
        <label style="color: #002a80">Analytics Configurations cannot be updated after once configured</label>
    {{else}}
        <button id="btn_save_analytics_configurations" onclick="configAnalytics()" class="btn btn-primary">Save Configurations
        </button>
    {{/if}}
</div>