{{!---
/*
 * Copyright (c) WSO2 Inc, 2015. (http://wso2.com) All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 --}}
{{#with assets}}
    <form method='post' action='{{url ""}}/apis/assets?type={{../rxt.shortName}}'
          class="form-horizontal" id="form-asset-create"
          data-redirect-url='{{url ""}}/assets/{{../rxt.shortName}}/list'>
        <div class="control-group">
            <div id="headers">
                <table>
                    <tbody>
                    
                    <tr>
                    <label for="name">Process</label>
                    
                        <input type="text" placeholder="Enter Process Name" name="overview_name"
                               id="processName" class="input-large" style="width:100em";>
                    </tr>
                    <tr>
                     <label for="provider">Provider</label>
                      
                        <input type="text" placeholder="Enter Provider Name"
                                   name="overview_provider" class="input-large" style="width:100em";>
                        
                        </tr>
                        <tr>
                        <label for="version">Version</label>
                        
                        <td><input type="text" placeholder="Enter Verision" name="overview_version"
                                   class="input-large" style="width:100em";>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr width="800em"/>
           <label for="details">Process Details</label>
            <div style="padding-bottom:5em"><textarea placeholder="Enter Process Details" rows="15"
                                                       id="processContent" name="processContent"
                                                       class="input-large"
                                                       style="width:785em"></textarea></div>
            <div id="proptable">
                <table id="htmlgrid" class="testgrid">
                    <tr>
                        <th>Properties</th>
                        <th>Value</th>
                    </tr>

                    <tr id="R1">
                        <td>Predecessors</td>
                        <td><input type="text" value="" id="properties_predecessors"
                                   name="properties_predecessors"
                                   style="border:none;border-color:transparent;"></td>
                    </tr>
                    <tr id="R2">
                        <td>Successors</td>
                        <td><input type="text" value="" id="properties_successors"
                                   name="properties_successors"
                                   style="border:none;border-color:transparent;"></td>
                    </tr>
                    <tr id="R3">
                        <td>Generalizations</td>
                        <td><input type="text" value="" id="properties_generalizations"
                                   name="properties_generalizations"
                                   style="border:none;border-color:transparent;"></td>
                    </tr>
                    <tr id="R4">
                        <td>Specialization</td>
                        <td><input type="text" value="" id="properties_specializations"
                                   name="properties_specializations"
                                   style="border:none;border-color:transparent;"></td>
                    </tr>
                </table>
            </div>
            <div id='tag-ui-container'>
        <h2 class="field-title">
            <a data-toggle="collapse" href="#collapseTags" aria-expanded="false" class="collapsing-h2" >
                <i class="cu-btn-exp-col btn-collapsed">{{t "Tags"}}</i>
            </a>
        </h2>
        <div id="collapseTags" class="collapse in responsive-form-container">
            {{> tag-ui-container .}}
        </div>
    </div>
            <hr width="800em"/>
            <div id="images">
                <table>
                    <tbody>
                    <tr>
                        <td><b><label class="control-label">Thumbnail</label></b></td>
                        <td><input type="file" value="" name="images_thumbnail" class="input-large">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="saveButtons" class="form-actions">
            <input type='submit' id="btn-create-asset" class="btn btn-primary"
                   name="addNewAssetButton" value='{{t "Create"}}'>
            <button class="btn" type="reset">{{t "Reset"}}</button>
            <input type="hidden" value="{{rxt.shortName}}" name="{{rxt.shortName}}"
                   id="meta-asset-type">
        </div>
    </form>
{{/with}}