<script>
    var processNames = [];
    var processListObj;

    window.onload = getProcessList;

    function showTextEditor(element) {
        if($("#pName").val() == "" || $("#pVersion").val() == "" || $("#pOwner").val() == ""){
            alertify.error('please fill the required fields.');
        }else{
            $('#create-view-header').text($('#pName').val());
            saveProcess(element);
            completeTextDetails();
            $("#processTextDiv").show();
            $("#overviewDiv").hide();
            $("#bpmnView").hide();
            $("#docView").hide();
            tinymce.init({
                selector: "#processContent"
            });
        }
    }

    function associateBPMN(element) {
        if($("#pName").val() == "" || $("#pVersion").val() == "" || $("#pOwner").val() == ""){
            alertify.error('please fill the required fields.');
        }else{
            $('#create-view-header').text($('#pName').val());
            saveProcess(element);
            completeBPMNDetails();
            $("#overviewDiv").hide();
            $("#processTextView").hide();
            $("#docView").hide();
            $("#bpmnView").show();
        }
    }

    function associateFlowChart(element) {
        if($("#pName").val() == "" || $("#pVersion").val() == "" || $("#pOwner").val() == ""){
            alertify.error('please fill the required fields.');
        }else{
            $('#flow-chart-view-header').text($('#pName').val());
            $("#overviewDiv").hide();
            $("#flowChartView").show();
            init();
        }
    }

    function associateDocument(element) {
        if($("#pName").val() == "" || $("#pVersion").val() == "" || $("#pOwner").val() == ""){
            alertify.error('please fill the required fields.');
        }else{
            //$('#create-view-header').text($('#pName').val());
            saveProcess(element);
            //completeBPMNDetails();
            $("#overviewDiv").hide();
            $("#processTextView").hide();
            $("#bpmnView").hide();
            $("#docView").show();
        }
    }


    function associatePdf(element) {
        if($("#pName").val() == "" || $("#pVersion").val() == "" || $("#pOwner").val() == ""){
            alertify.error('please fill the required fields.');
        }else{
            $('#create-view-header').text($('#pName').val());
            $("#ProcessName").attr("value", $("#pName").val());
            $("#ProcessVersion").attr("value", $("#pVersion").val());

            saveProcess(element);
            //completeBPMNDetails();
            $("#overviewDiv").hide();
            $("#processTextView").hide();
            $("#bpmnView").hide();
            $("#docView").hide();
            $("#pdfUploader").show();
        }
    }

    function newDocFormToggle() {
        $("#addNewDoc").toggle("slow");
    }

    function showMain() {
        $("#mainView").show();
        $("#bpmnView").hide();
        $("#processTextView").hide();
    }

    function saveProcess(currentElement) {
        if ($("#pName").val() == "" || $("#pVersion").val() == "" || $("#pOwner").val() == "") {
            alertify.error('please fill the required fields.');
        } else {
            // save the process

            $.ajax({
                url: 'apis/create_process',
                type: 'POST',
                data: { 'processInfo': getProcessInfo() },
                success: function (response) {
                    $("#processTextOverviewLink").attr("href", "../../assets/process/details/" + response);
                    $("#bpmnOverviewLink").attr("href", "../../assets/process/details/" + response);

                    if($(currentElement).attr('id') == 'saveProcessBtn'){
                        window.location = "../../assets/process/details/" + response;
                    }
                },
                error: function () {
                    alertify.error('Process saving error');
                }
            });

        }
    }

    function getProcessInfo(){
        var processDetails = {
            'processName': $("#pName").val(),
            'processVersion' : $("#pVersion").val(),
            'processOwner' : $("#pOwner").val(),
            'processTags' : $("#pTags").val(),
            'subprocess' : readSubprocessTable(),
            'successor' : readSuccessorTable(),
            'predecessor' : readPredecessorTable()
        };
        return (JSON.stringify(processDetails));
    }

    function saveProcessText(currentElement) {
        var textContent = tinyMCE.get('processContent').getContent();
        if (textContent == "") {
            if($(currentElement).attr('id') == 'processTxtSaveBtn'){
                alertify.error('Process content is empty.');
            }
        } else {
            // save the process

            $.ajax({
                url: 'apis/save_process_text',
                type: 'POST',
                data: { 'processName': $("#pName").val(), 'processVersion' : $("#pVersion").val(), 'processText' : textContent},
                success: function (response) {
                    if($(currentElement).attr('id') == 'processTxtSaveBtn'){
                        alertify.success("Successfully saved the process content.");
                    }
                },
                error: function () {
                    alertify.error('Process text saving error');
                }
            });
        }
    }

    function completeBPMNDetails(currentElement) {
        saveProcessText(currentElement);
        $("#bpmnProcessName").val($("#pName").val());
        $("#bpmnProcessVersion").val($("#pVersion").val());
        return true;
    }

    function completeTextDetails() {
        $("#textProcessName").val($("#pName").val());
        $("#textProcessVersion").val($("#pVersion").val());
        return true;
    }

    function subProcessNamesAutoComplete(){
        $(".subprocess_Name").autocomplete({
            source: processNames
        });
    }

    function successorNameAutoComplete(){
        $(".successor_Name").autocomplete({
            source: processNames
        });
    }

    function predecessorNameAutoComplete(){
        $(".predecessor_Name").autocomplete({
            source: processNames
        });
    }

    function readSubprocessTable(){
        var subprocessInfo = [];
        $('#table_subprocess tbody tr').each(function(){
            if($(this).find('td:eq(0) input').val() == ''){
                //continue
            }else{
                var subprocessPath, subprocessId;
                for(var i = 0 ; i < processListObj.length ; i++){
                    if(processListObj[i].processname == $(this).find('td:eq(0) input').val().split("-")[0] &&
                            processListObj[i].processversion == $(this).find('td:eq(0) input').val().split("-")[1]){
                        subprocessPath = processListObj[i].path;
                        subprocessId = processListObj[i].processid;
                        break;
                    }
                }

                subprocessInfo.push({
                    name: $(this).find('td:eq(0) input').val().split("-")[0],
                    path: subprocessPath,
                    id: subprocessId
                });
            }
        });
        return subprocessInfo;
    }

    function readSuccessorTable(){
        var successorInfo = [];
        $('#table_successor tbody tr').each(function(){
            if($(this).find('td:eq(0) input').val() == ''){
                //continue
            }else{
                var successorPath, successorId;
                for(var i = 0 ; i < processListObj.length ; i++){
                    if(processListObj[i].processname == $(this).find('td:eq(0) input').val().split("-")[0] &&
                            processListObj[i].processversion == $(this).find('td:eq(0) input').val().split("-")[1]){
                        successorPath = processListObj[i].path;
                        successorId = processListObj[i].processid;
                        break;
                    }
                }

                successorInfo.push({
                    name: $(this).find('td:eq(0) input').val().split("-")[0],
                    path: successorPath,
                    id: successorId
                });
            }
        });
        return successorInfo;
    }

    function readPredecessorTable(){
        var predecessorInfo = [];
        $('#table_predecessor tbody tr').each(function(){
            if($(this).find('td:eq(0) input').val() == ''){
                //continue
            }else{
                var predecessorPath, predecessorId;
                for(var i = 0 ; i < processListObj.length ; i++){
                    if(processListObj[i].processname == $(this).find('td:eq(0) input').val().split("-")[0] &&
                            processListObj[i].processversion == $(this).find('td:eq(0) input').val().split("-")[1]){
                        predecessorPath = processListObj[i].path;
                        predecessorId = processListObj[i].processid;
                        break;
                    }
                }

                predecessorInfo.push({
                    name: $(this).find('td:eq(0) input').val().split("-")[0],
                    path: predecessorPath,
                    id: predecessorId
                });
            }
        });
        return predecessorInfo;
    }

    function getProcessList(){
        $.ajax({
            url: '/publisher/assets/process/apis/get_process_list',
            type: 'GET',
            success: function (response) {
                processListObj = JSON.parse(response);
                for(var i = 0 ; i < processListObj.length ; i++){
                    processNames.push(processListObj[i].processname + "-" + processListObj[i].processversion);
                }
            },
            error: function () {
                alertify.error('Process List error');
            }
        });
    }

    function isInputFieldEmpty(tableName){
        var isFieldEmpty = false;
        $('#table_' + tableName + ' tbody tr').each(function(){
            if($(this).find('td:eq(0) input').val() == ''){
                isFieldEmpty = true;
            }
        });
        return isFieldEmpty;
    }

    function addUnboundedRow(element){
        var tableName = $(element).attr('data-name');
        var table = $('#table_'+tableName);

        if(! isInputFieldEmpty(tableName)) {
            var referenceRow = $('#table_reference_' + tableName);
            var newRow = referenceRow.clone().removeAttr('id');
            $('input[type="text"]', newRow).val('');
            table.show().append(newRow);
        }else{
            alertify.error('Please fill the empty ' + tableName + ' field.');
        }
    }

    function validateDocs() {
        $("#docProcessName").val($("#pName").val());
        $("#docProcessVersion").val($("#pVersion").val());
        if (document.getElementById('docName').value.length == 0) {
            alert('Please enter doc name.');
            return false;
        } else if((!document.getElementById('optionsRadios7').checked) && (!document.getElementById('optionsRadios8').checked)) {
            alert('Please select a source.');
            return false;
        } else if(document.getElementById('optionsRadios7').checked) {
            if(document.getElementById('docUrl').value.length == 0) {
                alert('Please give the doc url.');
                return false;
            }
        }else if(document.getElementById('optionsRadios8').checked) {
            var ext = $('#docLocation').val().split('.').pop().toLowerCase();
            if($.inArray(ext, ['docx','doc']) == -1) {
                alert('invalid extension!');
                return false;
            }
        }
        return true;
    }

</script>

<div id="overviewDiv">
        <div class="control-group">
            <h2 class="field-title">
                <a class="collapsing-h2" aria-expanded="true" href="#collapseprocessinfo" data-toggle="collapse">
                    <i class="cu-btn-exp-col btn-collapsed">Process Information</i>
                </a>
            </h2>
            <div class="collapse in responsive-form-container" id="collapseprocessinfo">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Process name<sup class="required-field">*</sup></label>
                        <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                            <input onblur="blurIt()" type="text" placeholder="Enter Process Name" name="overview_name" id="pName" class="form-control" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Version<sup class="required-field">*</sup></label>
                        <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                            <input onblur="blurIt()" type="text" placeholder="Enter Process Version" name="overview_version" id="pVersion" class="form-control" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Owner<sup class="required-field">*</sup></label>
                        <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                            <input onblur="blurIt()" type="text" placeholder="Enter Process Owner" name="overview_owner" id="pOwner" class="form-control" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Tags</label>
                        <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                            <input onblur="blurIt()" type="text" placeholder="Enter Tags" name="overview_tags" id="pTags" class="form-control">
                        </div>
                    </div>
                </form>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" onclick="showTextEditor(this)">Describe process in text</button>
                        <button class="btn btn-primary" onclick="associateBPMN(this)">Associate BPMN model</button>
<<<<<<< HEAD
                        <button class="btn btn-primary" onclick="associateFlowChart(this)">Associate a Flow Chart</button>
=======
                        <button class="btn btn-primary" onclick="associateDocument(this)">Documents</button>
                        <button class="btn btn-primary" onclick="associatePdf(this)">PDF</button>
>>>>>>> 07570f4c71e7a692d4a1d4c5f07362e239aa3dd0
                    </div>
                </div>
                <br><br><hr>

            </div>

            <h2 class="field-title">
                <a class="collapsing-h2" aria-expanded="true" href="#subprocess" data-toggle="collapse" rel="tooltip" title="List of subprocesses for a given process">
                    <i class="cu-btn-exp-col btn-collapsed">Subprocess</i>
                </a>
            </h2>

            <div id="subprocess" class="responsive-form-container collapse in" aria-expanded="true" style="">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding:0">
                    &nbsp;
                </div>
                <div style="border:0px solid #ff0000; padding:0" class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="add-unbounded-row"><a data-name="subprocess" onclick="addUnboundedRow(this)"><i class="fa fa-plus-circle"></i> Add Subprocess</a></div>
                    <table class="tablex cu-data-table js-unbounded-table" id="table_subprocess">
                        <thead>

                        <tr><th></th>
                        </tr></thead>
                        <tbody>
                        <tr>
                            <td valign="top"><input type="text" value="" name="subprocess_Name" id="subprocess_Name" class="input-large subprocess_Name" onkeydown="subProcessNamesAutoComplete()"></td>
                            <td><a class="js-remove-row"><i class="fa fa-trash"></i></a> </td></tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h2 class="field-title">
                <a class="collapsing-h2" aria-expanded="true" href="#successor" data-toggle="collapse" rel="tooltip" title="List of successor processes for a given process">
                    <i class="cu-btn-exp-col btn-collapsed">Successor</i>
                </a>
            </h2>
            <div id="successor" class="responsive-form-container collapse in" aria-expanded="true" style="">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding:0">
                    &nbsp;
                </div>
                <div style="border:0px solid #ff0000; padding:0" class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="add-unbounded-row"><a data-name="successor" onclick="addUnboundedRow(this)"><i class="fa fa-plus-circle"></i> Add Successor</a></div>
                    <table class="tablex cu-data-table js-unbounded-table" id="table_successor">
                        <thead>

                        <tr><th></th>
                        </tr></thead>
                        <tbody>
                        <tr>
                            <td valign="top"><input type="text" value="" name="successor_Name" id="successor_Name" class="input-large successor_Name" onkeydown="successorNameAutoComplete()"></td>
                            <td><a class="js-remove-row"><i class="fa fa-trash"></i></a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h2 class="field-title">
                <a class="collapsing-h2" aria-expanded="true" href="#predecessor" data-toggle="collapse" rel="tooltip" title="List of predecessor processes for a given process">
                    <i class="cu-btn-exp-col btn-collapsed">Predecessor</i>
                </a>
            </h2>

            <div id="predecessor" class="responsive-form-container collapse in" aria-expanded="true" style="">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding:0">
                    &nbsp;
                </div>
                <div style="border:0px solid #ff0000; padding:0" class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="add-unbounded-row"><a data-name="predecessor" onclick="addUnboundedRow(this)"><i class="fa fa-plus-circle"></i> Add Predecessor</a></div>
                    <table class="tablex cu-data-table js-unbounded-table" id="table_predecessor">
                        <thead>

                        <tr><th></th>
                        </tr></thead>
                        <tbody>
                        <tr>
                            <td valign="top"><input type="text" value="" name="predecessor_Name" id="predecessor_Name" class="input-large predecessor_Name" onkeydown="predecessorNameAutoComplete()"></td>
                            <td><a class="js-remove-row"><i class="fa fa-trash"></i></a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div id="processButtons" class="form-actions">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-success" id="saveProcessBtn" value="Save process" onclick="saveProcess(this)">Save process</button>
                </div>
            </div>
        </div>
</div>

<div id="pdfUploader" class="form-group">

    <form method="post" action="apis/upload_pdf"  onsubmit="" enctype="multipart/form-data" class="form-horizontal" id="form-bar-create">
        <br>
        <div style="float:left;width:15cm">
            <input type="file" onchange="setfilename(this.value);" class="filestyle" data-buttonname="btn-primary" data-placeholder="Associate pdf/text file" name="pdfFile" id="pdfFile" data-buttontext="PDF file" accept=".txt,.doc,.pdf" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
            <!--div class="bootstrap-filestyle input-group">
                <input type="text" class="form-control " placeholder="Associate pdf/text file" disabled="" id="filename">
<span class="group-span-filestyle input-group-btn" tabindex="0"><label for="pdfFile" class="btn btn-primary ">
<span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span> <span class="buttonText">PDF file</span>
</label>
</span>
            </div-->
        </div><br><br>
        <input type="hidden" id="ProcessName" name="ProcessName" value="">
        <input type="hidden" id="ProcessVersion" name="ProcessVersion" value="">

        <div id="saveButtons" class="form-actions">
            <input type="submit" id="btn-create-asset-bar" class="btn btn-primary" name="addNewAssetButton" value="Upload pdf">
            <button class="btn" type="reset">Reset</button>
            <input type="hidden" value="process" name="process" id="meta-asset-type">
        </div>

    </form>
</div>

<div id="processTextDiv" style="display: none">
    <h2 id="create-view-header"></h2>

    <br />
    <a id="processTextOverviewLink" class="btn btn-primary" onclick="saveProcessText(this)" href=""><span class="glyphicon glyphicon-circle-arrow-left"></span> Overview</a>
        <br><br>
        <div>
        <h2 class="field-title">
        <a data-toggle="collapse" href="#collapsetextoverview" aria-expanded="false" class="collapsing-h2">
        <i class="cu-btn-exp-col btn-collapsed">Describe process in text</i>
        </a>
        </h2>
    <div class="collapse in responsive-form-container" id="collapsetextoverview">
        <button class="btn btn-primary" id="processTxtSaveBtn" onclick="saveProcessText(this)">Save</button>
        

    <input type="hidden" id="textProcessName" name="textProcessName"/>
    <input type="hidden" id="textProcessVersion" name="textProcessVersion"/>
    <textarea placeholder="Enter Process Details" rows="15"
              id="processContent" name="processContentName"
              class="input-large"
              style="width:80em"></textarea>

    </div>
    <div>
    <h2 class="field-title">
        <a data-toggle="collapse" href="#collapsebpmnoverview" aria-expanded="false" class="collapsing-h2">
        <i class="cu-btn-exp-col btn-collapsed">Associate BPMN</i>
        </a>
        </h2>

            <div class="collapse in responsive-form-container" id="collapsebpmnoverview">

               <form  method='post' action='apis/upload_bpmn' onsubmit='return completeBPMNDetails(this)' enctype="multipart/form-data" class="form-horizontal" id="form-bar-create" data-redirect-url='{{url ""}}/assets/{{rxt.shortName}}/list' >
        <br />
        <div style="float:left;width:15cm">
            <input type="file" class="filestyle" data-buttonName="btn-primary" data-placeholder="Enter archive" name="bpmn" id="bpmnFile" data-buttonText="BPMN file" accept=".xml,.bpmn">
        </div><br /><br />

        <input type="hidden" id="bpmnProcessName" name="bpmnProcessName"/>
        <input type="hidden" id="bpmnProcessVersion" name="bpmnProcessVersion"/>

        <div id="saveButtons" class="form-actions">
            <input type='submit' id="btn-create-asset-bar" class="btn btn-primary"
                   name="addNewAssetButton" value='{{t "Upload file"}}'>
            <button class="btn" type="reset">{{t "Reset"}}</button>
            <input type="hidden" value="{{rxt.shortName}}" name="{{rxt.shortName}}"
                   id="meta-asset-type">
        </div>
    </form>
    </div>
    </div>
</div>

<div id="bpmnView" style="display:none">
    <h2 id="create-view-header"></h2>
    <br /><a id="bpmnOverviewLink" class="btn btn-primary" href=""><span class="glyphicon glyphicon-circle-arrow-left"></span> Overview</a>
    <form  method='post' action='apis/upload_bpmn' onsubmit='return completeBPMNDetails()' enctype="multipart/form-data" class="form-horizontal" id="form-bar-create" data-redirect-url='{{url ""}}/assets/{{rxt.shortName}}/list' >
        <br />
        <div style="float:left;width:15cm">
            <input type="file" class="filestyle" data-buttonName="btn-primary" data-placeholder="Enter archive" name="bpmn" id="bpmnFile" data-buttonText="BPMN file" accept=".xml,.bpmn">
        </div><br /><br />

        <input type="hidden" id="bpmnProcessName" name="bpmnProcessName"/>
        <input type="hidden" id="bpmnProcessVersion" name="bpmnProcessVersion"/>

        <div id="saveButtons" class="form-actions">
            <input type='submit' id="btn-create-asset-bar" class="btn btn-primary"
                   name="addNewAssetButton" value='{{t "Upload file"}}'>
            <button class="btn" type="reset">{{t "Reset"}}</button>
            <input type="hidden" value="{{rxt.shortName}}" name="{{rxt.shortName}}"
                   id="meta-asset-type">
        </div>
    </form>
</div>

<<<<<<< HEAD
<div ng-app="" id="flowChartView" style="display:none">
    <h4 id="flow-chart-view-header">How to?</h4>
    <div>
        <ul>
            <li>Click on a symbol in the palette to get a copy of it.</li>
            <li>Connectors are shown around the symbols. Starting point is shown by a green hollow circle and ending point is
                shown by a green filled circle.</li>
            <li>Right click on the symbol to edit text</li>
        </ul>
    </div>
    <div style="width:100%; height: 50%; white-space:nowrap;">
        <span style="display: inline-block; vertical-align: top; padding: 5px; width:15%">
            <div id="myPalette" style="border: solid 1px gray; height: auto"><p><center><strong>Palette</strong></center></p>
                <div class="jtk-demo-main" style="margin-top: 20px;">
                    <div class="jtk-demo-canvas canvas-wide flowchart-demo" id="canvas1">
                        <div class="window start jsplumb-connected" id="startEv"><strong><p>start</p></strong></div>
                        <div class="window step jsplumb-connected-step" id="stepEv"><strong><p>step</p></strong></div>
                        <div class="window diamond jsplumb-connected-step" id="descEv"><strong><p class="desc-text">decision</p></strong></div>
                        <div class="window start jsplumb-connected-end" id="endEv"><strong><p>end</p></strong></div>
                    </div>
                </div>
            </div>
        </span>

        <span style="display: inline-block; vertical-align: top; padding: 5px; width:85%">
          <div id="myDiagram" style="border: solid 1px gray;;"><p><center><strong>Drawing</strong></center></p>
              <div class="jtk-demo-main" style="margin-top: 20px;">
                  <div class="jtk-demo-canvas canvas-wide flowchart-demo jtk-surface  jtk-surface-nopan" id="canvas">
                  </div>
              </div>
          </div>
        </span>
    </div>
=======
<div id="docView" style="display:none">
    <!--<div class="control-group">-->
        <h2 class="field-title">
            <a class="collapsing-h2" aria-expanded="true" href="#" data-toggle="collapse">
                <i class="cu-btn-exp-col">Documents</i>
            </a>
        </h2>

        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="control-group">
                        <div id="addDoc">
                            <a onclick="newDocFormToggle()" href="#">
                                <i class="fa fa-plus-circle"></i> Add New Document
                            </a>
                        </div>
                        <div id="updateDoc" style="display:none;">
                            <h4></h4>
                        </div>

                    </div>
                </div>
                <!-- Row -->
                <form id="addNewDoc" enctype="multipart/form-data" action="apis/upload_documents" onsubmit="return validateDocs()" method="POST" style="margin-left: 20px;">
                    <div class="container-fluid" style="padding-left:0">
                        <div id="newDoc">
                            <div class="row-fluid">
                                <div class="span6 name-column" style="float:left;width:50%;">
                                    <div class="control-group">
                                        <label class="control-label" for="docName">Name<span class="requiredAstrix" style="color: red;">*</span></label>
                                        <div class="controls">
                                            <input type="text" class="required validInput" id="docName" name="docName" style="width:100%">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="textarea">Summary</label>
                                        <div class="controls">
                                            <textarea id="summaryDoc" name="summaryDoc" rows="3" style="width:100%"></textarea>
                                        </div>
                                    </div>
                                    <input type="hidden" id="docProcessName" name="docProcessName"/>
                                    <input type="hidden" id="docProcessVersion" name="docProcessVersion"/>

                                </div>

                                <div class="span6" style="float:right;width:48%;">
                                    <div class="well">
                                        <div class="control-group">
                                            <label class="control-label">Source</label>
                                            <div class="controls">
                                                <label class="radio" style="margin-left:20px">
                                                    <input type="radio" name="optionsRadios1" id="optionsRadios7" value="url" onclick="javascript:$('#sourceUrlDoc').toggle('slow');$('#sourceFile').hide('slow')">URL (Eg: google doc)
                                                    <a class="icon-question-sign help_popup" data-original-title="" title=""></a>
                                                    <p id="urlDoc_help" class="hide">Link to documentation managed by an external configuration management system</p>
                                                </label>

                                                <div id="sourceUrlDoc" class="controls" style="display: none;">
                                                    <span class="requiredAstrix" style="color: red;">*</span> <input type="text" class="required" style="width:98%" id="docUrl" name="docUrl">
                                                </div>
                                                <label class="radio" style="margin-left:20px">
                                                    <input type="radio" name="optionsRadios1" id="optionsRadios8" value="file" onclick="javascript:$('#sourceFile').toggle('slow');$('#sourceUrlDoc').hide('slow')">Document
                                                    <a class="icon-question-sign help_popup" data-original-title="" title=""></a>
                                                    <p id="fileDoc_help" class="hide">Upload a documentation file</p>
                                                </label>

                                                <div id="fileNameDiv" style="display:none;"></div>
                                                <a onclick="javascript:$('#sourceFile').toggle('slow')" id="toggleFileDoc" style="display:none;">
                                                    Change File
                                                </a>
                                                <div id="sourceFile" class="controls" style="display:none;">
                                                    <span class="requiredAstrix" style="color: red;">*</span> <input type="file" class="required" style="width:98%" name="docLocation" id="docLocation">
                                                    <p id="fileType_help">eg : .docx, .doc</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="clear:both; font-size:1px;"></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <!--<button type="button" class="btn btn-primary" id="saveDocBtn" onclick="saveDoc()">Add Document</button>-->
                                        <input type="submit" class="btn btn-primary" id="saveDocBtn" value="Add Document">
                                        <button type="button" class="btn" onclick="clearDocs()">Cancel</button>
                                    </div>
                                </div>

                            </div><!-- Enod of row -->
                        </div>
                    </div>
                </form><br /><br />
            </div>
        </div>
    <!--</div>-->
>>>>>>> 07570f4c71e7a692d4a1d4c5f07362e239aa3dd0
</div>

<table style="display: none;" class="refernceTableForUnbounded">
    <tbody>
    <tr id="table_reference_subprocess">
        <td valign="top"><input type="text" class="form-control subprocess_Name" value="" name="subprocess_Name" id="subprocess_Name" onkeydown="subProcessNamesAutoComplete()"></td>
        <td><a class="js-remove-row"><i class="fa fa-trash"></i></a> </td>
    </tr>
    </tbody>
</table>

<table style="display: none;" class="refernceTableForUnbounded">
    <tbody>
    <tr id="table_reference_successor">
        <td valign="top"><input type="text" class="form-control successor_Name" value="" name="successor_Name" id="successor_Name" onkeydown="successorNameAutoComplete()"></td>
        <td><a class="js-remove-row"><i class="fa fa-trash"></i></a> </td></tr>
    </tbody>
</table>

<table style="display: none;" class="refernceTableForUnbounded">
    <tbody>
    <tr id="table_reference_predecessor">
        <td valign="top"><input type="text" class="form-control predecessor_Name" value="" name="predecessor_Name" id="predecessor_Name" onkeydown="predecessorNameAutoComplete()"></td>
        <td><a class="js-remove-row"><i class="fa fa-trash"></i></a> </td></tr>
    </tbody>
</table>
</div>
</div>