{{!---
/*
 * Copyright (c) WSO2 Inc, 2015. (http://wso2.com) All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 --}}

<script>
    var isSocial = ('{{features.social.enabled}}' == 'true');
</script>
{{#with assets}}
    <div class='content-div'>
        <div class="tab-content asset-tab-content">
            <div id="view" class="asset-view-container">
                <div class="row-fluid asset-detail-top-row">
                </div>
                <div class="row-fluid asset-details-row">
                    <div class="span12 asset-content-box">
                        <div class="widget wlightblue">
                            <div class="widget-head">
                                <div id="processName" class="pull-left">{{name}}
                                </div><span>
                                       <a href='{{url ""}}/asts/process/variant?id={{id}}'
                                          class="btn btn-primary" style="float:right;">New
                                                                                       Variant</a>
                                       </span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                <div id="ast-description"
                                     style="margin-left : 10px; margin-right :10px; padding-top:30px;text-align: justify"></div>
                                <div id="ast-properties">
                                    <div name="propTable"
                                         style="padding-bottom:10px; margin-left: 10px;">
                                        <hr width="800">
                                        <table id="htmlgrid" class="testgrid">
                                            <tr>
                                                <th>Properties</th>
                                                <th>Value</th>
                                            </tr>
                                            <tr id="R1">
                                                <td>Predecessors</td>
                                                <td id="td_pre">{{this.tables.[1].fields.predecessors.value}}</td>
                                            </tr>
                                            <tr id="R2">
                                                <td>Successors</td>
                                                <td id="td_suc">{{this.tables.[1].fields.successors.value}}</td>
                                            </tr>
                                            <tr id="R3">
                                                <td>Generalizations</td>
                                                <td id="td_gen">{{this.tables.[1].fields.generalizations.value}}</td>
                                            </tr>
                                            <tr id="R4">
                                                <td>Specialization</td>
                                                <td id="td_spec">{{this.tables.[1].fields.specializations.value}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--div id="edit" class="tab-pane fade in">
                    <div class="row-fluid">
                            <div class="span12">
                    <div class="info-div alert alert-error">
                                            <a data-dismiss="alert" class="close">x</a>
                                            <i class="icon-warning-sign text-red icon_block"></i>
                                            This feature will be available on our next milestone..
                                    </div>
                                    <form class="form-horizontal">
                                        {{#each data.fields}}
                            <div class="control-group">
                                <b><label class="control-label">{{this.label}}:</label>
                                </b>
                                <div class="controls">
                                    <input id='{{this.name}}' type='text' value='{{this.value}}' disabled="disabled"/>
                                </div>
                            </div>
                             {{/each}}
                                        <div id="saveButtons" class="form-actions">
                                                <input type="submit" value="Update" class="btn btn-primary"
                                name="editAssetButton" disabled="disabled" id="editAssetButton">
                                                <input type="reset" value="Cancel" disabled="disabled" class="btn">
                                        </div>
                                    </form>
                            </div>
                        </div>
                </div>
                <div id="lifecycles" class="tab-pane fade in">
                        <div class="row-fluid">
                            <div class="span12">
                                    <form class="form-horizontal">
                                        <div class="control-group">

                                                <div class="controls">
                                                    <legend><div id='state'>{{data.info.lifecycleState}}</div></legend>
                                                    <div id='checklist'></div>
                                                </div>
                                        </div>
                                        <div class="form-actions">
                                                <input type="button" value="Promote" class="btn btn-primary"  id="btn-asset-promote">
                                                <input type="button" value="Demote" class="btn" id="btn-asset-demote">
                                        </div>
                                    </form>
                                    <h5>Life-Cycle History</h5>
                                    <div id='lc-history'></div>
                            </div>
                        </div>
                </div>

                <div id="versions" class="tab-pane fade in">
                        <div class="row-fluid">
                            <div class="span12">
                    <div class="info-div alert alert-error">
                                            <a data-dismiss="alert" class="close">x</a>
                                            <i class="icon-warning-sign text-red icon_block"></i>
                                            This feature will be available on our next milestone..
                                    </div>
                                <table class="table table-bordered">
                                    <thead>
                                            <tr>
                                                <th>Version</th>
                                                <th>Number of subscriptions</th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                <td>1.0.0</td>
                                                <td>120</td>
                                            </tr>
                                            <tr>
                                                <td>1.0.0</td>
                                                <td>120</td>
                                            </tr>
                                            <tr>
                                                <td>1.0.0</td>
                                                <td>120</td>
                                            </tr>
                                            <tr>
                                                <td>1.0.0</td>
                                                <td>120</td>
                                            </tr>
                                            <tr>
                                                <td>1.0.0</td>
                                                <td>120</td>
                                            </tr>
                                            <tr>
                                                <td>1.0.0</td>
                                                <td>120</td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div-->
        </div>
    </div>
{{/with}}



