{{!---
/*
 * Copyright (c) WSO2 Inc, 2015. (http://wso2.com) All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 --}}

<script>
    var isSocial = ('{{features.social.enabled}}' == 'true');
</script>
{{#with assets}}
    <div class='content-div'>
        <div class="tab-content asset-tab-content">
            <div id="view" class="asset-view-container">
                <div class="row-fluid asset-detail-top-row">
                </div>
                <div class="row-fluid asset-details-row">
                    <div class="span12 asset-content-box">
                        <div class="widget wlightblue">
                        
                            <div class="widget-head">
                                <div id="processName" class="pull-left">{{name}}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                <div class="mceNonEditable" id="ast-description"></div>
                                <div id="ast-properties">
                                    <div name="propTable"
                                         style="padding-bottom:10em; margin-left: 10em;">
                                        <hr width="800">
                                        <table id="htmlgrid" class="testgrid">
                                            <tr>
                                                <th>Properties</th>
                                                <th>Value</th>
                                            </tr>
                                            <tr id="R1">
                                                <td>Predecessors</td>
                                                <td id="td_pre">{{this.tables.[1].fields.predecessors.value}}</td>
                                            </tr>
                                            <tr id="R2">
                                                <td>Successors</td>
                                                <td id="td_suc">{{this.tables.[1].fields.successors.value}}</td>
                                            </tr>
                                            <tr id="R3">
                                                <td>Generalizations</td>
                                                <td id="td_gen">{{this.tables.[1].fields.generalizations.value}}</td>
                                            </tr>
                                            <tr id="R4">
                                                <td>Specialization</td>
                                                <td id="td_spec">{{this.tables.[1].fields.specializations.value}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                     Tags
           <div id='tag-ui-container-view'>
                            {{> tag-ui-container-view ..}}
                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{{/with}}



