<script>
    var processNames = [];
    var processListObj;

    window.onload = getProcessList;

    function showBPMN() {

        $("#overviewDiv").hide();
        $("#processTextContainer").hide();
        $("#processTextEditDiv").hide();
        $("#bpmnViewDiv").show();
        $("#bpmnEditDiv").hide();

        $.ajax({
            url: 'https://localhost:9443/publisher/assets/process/apis/get_bpmn_content?bpmn_content_path=/_system/governance/bpmn/{{assets.tables.[0].fields.name.value}}/{{assets.tables.[0].fields.version.value}}',
            type: 'GET',
            success: function (response) {
                var bpmnObject = JSON.parse(response);
                $("#bpmnImage").attr("src", "data:image/png;base64," + bpmnObject.bpmnImage);
            },
            error: function () {
                alert("error");
            }
        });

    }

    function viewText() {
        loadProcessText();

        $("#overviewDiv").hide();
        $("#processTextContainer").show();
        $("#processTextEditDiv").hide();
        $("#bpmnViewDiv").hide();
        $("#bpmnEditDiv").hide();
    }

    function editText() {
        $("#processContent").val($("#processTextDiv").html());
        showTextEditor();
    }

    function loadProcessText() {
        var ppath = 'apis/get_process_text?process_text_path={{assets.tables.[1].fields.processtextpath.value}}';

        $.ajax({
            url: 'https://localhost:9443/publisher/assets/process/apis/get_process_text?process_text_path=/processText/{{assets.tables.[0].fields.name.value}}/{{assets.tables.[0].fields.version.value}}',
            type: 'GET',
            success: function (response) {
                $("#processTextDiv").html(response);
            },
            error: function () {
                alert("error");
            }
        });
    }

    function saveProcessText() {
        var textContent = tinyMCE.get('processContent').getContent();
        if (textContent == "") {
            alert("Process content is empty");
        } else {
            // save the process

            $.ajax({
                url: 'https://localhost:9443/publisher/assets/process/apis/save_process_text',
                type: 'POST',
                data: { 'processName': $("#textProcessName").val(), 'processVersion' : $("#textProcessVersion").val(), 'processText' : textContent},
                success: function (response) {
                    $("#viewTextButton").show();
                    $("#addTextButton").hide();
                },
                error: function () {
                    alert("error");
                }
            });
        }
    }

    function showTextEditor() {
        $("#overviewDiv").hide();
        $("#processTextContainer").hide();
        $("#processTextEditDiv").show();
        $("#bpmnViewDiv").hide();
        $("#bpmnEditDiv").hide();

        tinymce.init({
            selector: "#processContent"
        });
    }

    function showBPMNUploader() {
        $("#overviewDiv").hide();
        $("#processTextContainer").hide();
        $("#processTextEditDiv").hide();
        $("#bpmnViewDiv").hide();
        $("#bpmnEditDiv").show();
    }

    function showOverview() {
        $("#overviewDiv").show();
        $("#processTextContainer").hide();
        $("#processTextEditDiv").hide();
        $("#bpmnViewDiv").hide();
        $("#bpmnEditDiv").hide();
    }

    function subProcessNamesAutoComplete(){
        $(".subprocess_Name").autocomplete({
            source: processNames
        });
    }

    function successorNameAutoComplete(){
        $(".successor_Name").autocomplete({
            source: processNames
        });
    }

    function predecessorNameAutoComplete(){
        $(".predecessor_Name").autocomplete({
            source: processNames
        });
    }

    function getProcessList(){
        $.ajax({
            url: 'https://localhost:9443/publisher/assets/process/apis/get_process_list',
            type: 'GET',
            success: function (response) {
                processListObj = JSON.parse(response);
                for(var i = 0 ; i < processListObj.length ; i++){
                    processNames.push(processListObj[i].processname + "-" + processListObj[i].processversion);
                }
            },
            error: function () {
                alert("error");
            }
        });
    }

    function isProcessNotAvailableInList(processName){
        for(var i = 0 ; i < processNames.length ; i++){
            if(processNames[i] == processName){
                return false;
            }
        }
        return true;
    }

    function readUpdatedSubprocess(e){
        var subprocessInfo = [];
        var subprocessInput = $(e).parent().parent().closest("tr").find("input").val();

        if(subprocessInput == ''){
            alert("Field is empty");
        }else if(isProcessNotAvailableInList(subprocessInput)){
            alert("Please enter correct process name that exists.");
        }else{
            var subprocessPath, subprocessId;
            for(var i = 0 ; i < processListObj.length ; i++){
                if(processListObj[i].processname == subprocessInput.split("-")[0] &&
                        processListObj[i].processversion == subprocessInput.split("-")[1]){
                    subprocessPath = processListObj[i].path;
                    subprocessId = processListObj[i].processid;
                    break;
                }
            }
            subprocessInfo.push({
                name: subprocessInput.split("-")[0],
                path: subprocessPath,
                id: subprocessId
            });
            var subProcessDetails = {
                'processName': $('#view-header').text(),
                'processVersion' : $('#process-version').text(),
                'subprocessList' : subprocessInfo
            };

            $.ajax({
                url: 'https://localhost:9443/publisher/assets/process/apis/update_subprocess_list',
                type: 'POST',
                data: { 'subprocessDetails': JSON.stringify(subProcessDetails) },
                success: function (response) {
                    alert("Updated the subprocess details.");
                },
                error: function () {
                    alert("error");
                }
            });
        }
    }

    function readUpdatedSuccessor(e){
        var successorInfo = [];
        var successorInput = $(e).parent().parent().closest("tr").find("input").val();

        if(successorInput == ''){
            alert("Field is empty");
        }else if(isProcessNotAvailableInList(successorInput)){
            alert("Please enter correct process name that exists.");
        }else{
            var successorPath, successorId;
            for(var i = 0 ; i < processListObj.length ; i++){
                if(processListObj[i].processname == successorInput.split("-")[0] &&
                        processListObj[i].processversion == successorInput.split("-")[1]){
                    successorPath = processListObj[i].path;
                    successorId = processListObj[i].processid;
                    break;
                }
            }
            successorInfo.push({
                name: successorInput.split("-")[0],
                path: successorPath,
                id: successorId
            });
            var successorDetails = {
                'processName': $('#view-header').text(),
                'processVersion' : $('#process-version').text(),
                'successorList' : successorInfo
            };

            $.ajax({
                url: 'https://localhost:9443/publisher/assets/process/apis/update_successor_list',
                type: 'POST',
                data: { 'successorDetails': JSON.stringify(successorDetails) },
                success: function (response) {
                    alert("Updated the subprocess details.");
                },
                error: function () {
                    alert("error");
                }
            });
        }
    }

    function readUpdatedPredecessor(e){
        var predecessorInfo = [];
        var predecessorInput = $(e).parent().parent().closest("tr").find("input").val();

        if(predecessorInput == ''){
            alert("Field is empty");
        }else if(isProcessNotAvailableInList(predecessorInput)){
            alert("Please enter correct process name that exists.");
        }else{
            var predecessorPath, predecessorId;
            for(var i = 0 ; i < processListObj.length ; i++){
                if(processListObj[i].processname == predecessorInput.split("-")[0] &&
                        processListObj[i].processversion == predecessorInput.split("-")[1]){
                    predecessorPath = processListObj[i].path;
                    predecessorId = processListObj[i].processid;
                    break;
                }
            }
            predecessorInfo.push({
                name: predecessorInput.split("-")[0],
                path: predecessorPath,
                id: predecessorId
            });
            var predecessorDetails = {
                'processName': $('#view-header').text(),
                'processVersion' : $('#process-version').text(),
                'predecessorList' : predecessorInfo
            };

            $.ajax({
                url: 'https://localhost:9443/publisher/assets/process/apis/update_predecessor_list',
                type: 'POST',
                data: { 'predecessorDetails': JSON.stringify(predecessorDetails) },
                success: function (response) {
                    alert("Updated the subprocess details.");
                },
                error: function () {
                    alert("error");
                }
            });
        }
    }

</script>

<h2 id="view-header">{{assets.tables.[0].fields.name.value}}</h2>
<br/>
<div id="overviewDiv">
    <form class="form-horizontal">
        <div class="control-group">
            <table class="table table-responsive" style="width: 8cm;border-bottom:0px !important;">
                <tbody>
                <tr>
                    <td width="40%" style="border: 0px !important;">Version:</td>
                    <td width="60%" id="process-version" style="border: 0px !important;">{{assets.tables.[0].fields.version.value}}</td>
                </tr>
                <tr>
                    <td width="40%" style="border: 0px !important;">Owner:</td>
                    <td width="60%" style="border: 0px !important;" contenteditable="true">{{assets.tables.[0].fields.owner.value}}</td>
                </tr>
                </tbody>
            </table>

            <div class="control-group" style="display: inline-block">
                {{#if processTextAvaliable}}
                    <div id="vtdiv"><button id="viewTextButton" class="btn btn-primary" onclick="viewText()">Show process text</button></div>
                    <div id="atdiv"><button id="addTextButton" class="btn btn-primary" onclick="showTextEditor()" style="display: none">Describe process in text</button></div>
                {{else}}
                    <div id="vtdiv"><button id="viewTextButton" class="btn btn-primary" onclick="viewText()" style="display: none">Show process text</button></div>
                    <div id="atdiv"><button id="addTextButton" class="btn btn-primary" onclick="showTextEditor()">Describe process in text</button></div>
                {{/if}}
            </div>

            <div class="control-group" style="display: inline-block">
                {{#if bpmnAvaliable}}
                    <button class="btn btn-primary" onclick="showBPMN()">Show BPMN</button>
                    <!--<a href="../../bpmn/details/{{assets.tables.[1].fields.bpmnid.value}}">Show BPMN</a>-->
                {{else}}
                    <button class="btn btn-primary" onclick="showBPMNUploader()">Associate a BPMN model</button>
                {{/if}}
            </div>
            <br /><br />

            <h2 class="field-title">
                <a class="collapsing-h2" aria-expanded="true" href="#subprocess" data-toggle="collapse">
                    <i class="cu-btn-exp-col btn-collapsed">Subprocess</i>
                </a>
            </h2>

            <div id="subprocess" class="responsive-form-container collapse in" aria-expanded="true" style="">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding:0">
                    &nbsp;
                </div>
                <div style="border:0px solid #ff0000; padding:0" class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="add-unbounded-row"><a class="js-add-unbounded-row" data-name="subprocess"><i class="fa fa-plus-circle"></i> Add Subprocess</a></div>
                    <table class="tablex cu-data-table js-unbounded-table" id="table_subprocess">
                        <thead>

                        <tr><th></th>
                        </tr></thead>
                        <tbody>
                        {{#each involveProcessList.subprocesses}}
                            <tr>
                                <td valign="top"><input type="text" value="{{this.name}}-{{this.version}}" name="subprocess_Name" id="subprocess_Name" class="input-large subprocess_Name" onkeydown="subProcessNamesAutoComplete()"></td>
                                <td><span class="js-edit-row" onclick=""><i class="fa fa-edit"></i></span> </td>
                                <td><a class="js-remove-row"><i class="fa fa-trash"></i></a> </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <h2 class="field-title">
                <a class="collapsing-h2" aria-expanded="true" href="#successor" data-toggle="collapse">
                    <i class="cu-btn-exp-col btn-collapsed">Successor</i>
                </a>
            </h2>
            <div id="successor" class="responsive-form-container collapse in" aria-expanded="true" style="">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding:0">
                    &nbsp;
                </div>
                <div style="border:0px solid #ff0000; padding:0" class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="add-unbounded-row"><a class="js-add-unbounded-row" data-name="successor"><i class="fa fa-plus-circle"></i> Add Successor</a></div>
                    <table class="tablex cu-data-table js-unbounded-table" id="table_successor">
                        <thead>

                        <tr><th></th>
                        </tr></thead>
                        <tbody>
                        {{#each involveProcessList.successors}}
                            <tr>
                                <td valign="top"><input type="text" value="{{this.name}}-{{this.version}}" name="successor_Name" id="successor_Name" class="input-large successor_Name" onkeydown="successorNameAutoComplete()"></td>
                                <td><span class="js-edit-row" onclick=""><i class="fa fa-edit"></i></span> </td>
                                <td><a class="js-remove-row"><i class="fa fa-trash"></i></a> </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>


            <h2 class="field-title">
                <a class="collapsing-h2" aria-expanded="true" href="#predecessor" data-toggle="collapse">
                    <i class="cu-btn-exp-col btn-collapsed">Predecessor</i>
                </a>
            </h2>

            <div id="predecessor" class="responsive-form-container collapse in" aria-expanded="true" style="">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding:0">
                    &nbsp;
                </div>
                <div style="border:0px solid #ff0000; padding:0" class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="add-unbounded-row"><a class="js-add-unbounded-row" data-name="predecessor"><i class="fa fa-plus-circle"></i> Add Predecessor</a></div>
                    <table class="tablex cu-data-table js-unbounded-table" id="table_predecessor">
                        <thead>

                        <tr><th></th>
                        </tr></thead>
                        <tbody>
                        {{#each involveProcessList.predecessors}}
                            <tr>
                                <td valign="top"><input type="text" value="{{this.name}}-{{this.version}}" name="predecessor_Name" id="predecessor_Name" class="input-large predecessor_Name" onkeydown="predecessorNameAutoComplete()"></td>
                                <td><span class="js-edit-row" onclick=""><i class="fa fa-edit"></i></span> </td>
                                <td><a class="js-remove-row"><i class="fa fa-trash"></i></a> </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="processTextContainer" style="display: none">
    <button onclick="showOverview()">Overview</button><button onclick="editText()">Edit</button>
<div id="processTextDiv">
    Place holder for rendering process text
</div>
</div>

<div id="processTextEditDiv" style="display: none">
    <button onclick="showOverview()">Overview</button><button onclick="saveProcessText()">Save</button>
    <input type="hidden" id="textProcessName" name="textProcessName" value="{{assets.tables.[0].fields.name.value}}"/>
    <input type="hidden" id="textProcessVersion" name="textProcessVersion" value="{{assets.tables.[0].fields.version.value}}"/>
    <textarea placeholder="Enter Process Details" rows="15"
              id="processContent" name="processContentName"
              class="input-large"
              style="width:80em"></textarea>
</div>

<div id="bpmnViewDiv" style="display: none">
    <button onclick="showOverview()">Overview</button>
<div style="overflow:auto;width:1000px;height:500px;border:1px solid black;">
    <img id="bpmnImage" src="data:image/png;base64,{{bpmn.bpmnImage}}"/>
</div>
</div>

<div id="bpmnEditDiv" style="display:none">
    <button onclick="showOverview()">Overview</button>
    <form  method='post' action='../apis/upload_bpmn' enctype="multipart/form-data" class="form-horizontal" id="form-bar-create" data-redirect-url='{{url ""}}/assets/{{rxt.shortName}}/list' >
        BPMN file<input type="file" placeholder="Enter archive" name="bpmn" id="bpmnFile" class="input-large" style="width:80em";>
        <input type="hidden" id="bpmnProcessName" name="bpmnProcessName" value="{{assets.tables.[0].fields.name.value}}"/>
        <input type="hidden" id="bpmnProcessVersion" name="bpmnProcessVersion" value="{{assets.tables.[0].fields.version.value}}"/>

        <div id="saveButtons" class="form-actions">
            <input type='submit' id="btn-create-asset-bar" class="btn btn-primary"
                   name="addNewAssetButton" value='{{t "Upload archive"}}'>
            <button class="btn" type="reset">{{t "Reset"}}</button>
            <input type="hidden" value="{{rxt.shortName}}" name="{{rxt.shortName}}"
                   id="meta-asset-type">
        </div>
    </form>
</div>

<table style="display: none;" class="refernceTableForUnbounded">
    <tbody>
    <tr id="table_reference_subprocess">
        <td valign="top"><input type="text" class="form-control subprocess_Name" value="" name="subprocess_Name" id="subprocess_Name" onkeydown="subProcessNamesAutoComplete()"></td>
        <td><span class="js-edit-row" onclick="readUpdatedSubprocess(this)"><i class="fa fa-edit"></i></span> </td>
        <td><a class="js-remove-row"><i class="fa fa-trash"></i></a> </td>
    </tr>
    </tbody>
</table>

<table style="display: none;" class="refernceTableForUnbounded">
    <tbody>
    <tr id="table_reference_successor">
        <td valign="top"><input type="text" class="form-control successor_Name" value="" name="successor_Name" id="successor_Name" onkeydown="successorNameAutoComplete()"></td>
        <td><span class="js-edit-row" onclick="readUpdatedSuccessor(this)"><i class="fa fa-edit"></i></span> </td>
        <td><a class="js-remove-row"><i class="fa fa-trash"></i></a> </td>
    </tr>
    </tbody>
</table>

<table style="display: none;" class="refernceTableForUnbounded">
    <tbody>
    <tr id="table_reference_predecessor">
        <td valign="top"><input type="text" class="form-control predecessor_Name" value="" name="predecessor_Name" id="predecessor_Name" onkeydown="predecessorNameAutoComplete()"></td>
        <td><span class="js-edit-row" onclick="readUpdatedPredecessor(this)"><i class="fa fa-edit"></i></span> </td>
        <td><a class="js-remove-row"><i class="fa fa-trash"></i></a> </td>
    </tr>
    </tbody>
</table>





