<div id="overviewDiv" class="wiz-content" style="box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);">
    <div class="title">{{assets.tables.[0].fields.name.value}}&nbsp;:&nbsp;{{assets.tables.[0].fields.version.value}}</div>
    <div class="row" style="padding-left: 2%; padding-right: 1%;">

        <div id="thumbnail-img" class="col-sm-2" style="display: inline; float: left; padding: 20px">

                <div class="row">
                    <div class="col-md-12 well well-sm">
                    {{#if customThumbnailAvailable}}
                        <img id="tuumbnailImg" alt="thumbnail" class="img-thumbnail img-rounded center-block"
                             src="/publisher/storage/process/{{assets.id}}/images_thumbnail">
                    {{else}}
                        <!--{{> asset-default-thumbnail ..}}-->
                        <div id="default-img-div" class="ast-img setbgcolor" style="background: {{assets.uniqueColor}};width: 100%;" title="{{name}}">
                            <span class="ast-type-icon" title="{{assets.singularLabel}}">
                              <i class="{{assets.icon}} fw-lg"></i>
                            </span>
                            <div class="ast-name-icon" style="max-width: 100%;max-height: 100%">{{assets.nameToChar}}</div>
                        </div>
                    {{/if}}
                        <ul class="nav nav-list" style="padding-top: 2px">
                            <li>&nbsp;<span class="fw fw-grid" aria-hidden="true"></span>&nbsp;{{assets.tables.[0].fields.version.value}}</li>
                            <li>&nbsp;<span class="fw fw-lifecycle" aria-hidden="true"></span>&nbsp;{{assets.lifecycleState}}</li>
                        </ul>
                    </div>
                </div>

        </div>

        <div class="col-sm-10" style="display: inline; float: left;padding: 20px">
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td class="col-sm-3">
                        Version
                    </td>
                    <td>{{assets.tables.[0].fields.version.value}}</td>
                </tr>
                <tr>
                    <td class="col-sm-3">
                        Description
                    </td>
                    <td>{{assets.tables.[0].fields.description.value}}</td>
                </tr>
                <tr>
                    <td class="col-sm-3">
                        Created By(owner)
                    </td>
                    <td>{{assets.tables.[0].fields.owner.value}}</td>
                </tr>
                <tr>
                    <td class="col-sm-3">
                        Created Time
                    </td>
                    <td>{{assets.tables.[0].fields.createdtime.value}}</td>
                </tr>
                <tr>
                    <td class="col-sm-3">
                        Life Cycle State
                    </td>
                    <td>{{assets.lifecycleState}}</td>
                </tr>
                <tr>
                    <td class="col-sm-3">
                        Tags
                    </td>
                    <td>
                        {{#each processTagsArray}}
                            <span class="label label-primary
                                        ">{{this}}</span>
                        {{/each}}
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-3">
                        Process User
                    </td>
                    <td>{{{assets.tables.[0].fields.businessuser.value}}}</td>
                </tr>
                <tr>
                    <td class="col-sm-3">
                        Process User Email
                    </td>
                    <td>{{{assets.tables.[0].fields.businessuseremail.value}}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr/>

    <div class="row" style="padding-left: 2%; padding-right: 1%;">
        <div class="col-md-4" style="float: left">
            <div class="btn-group">
                <button id="btn-process-analytics" class="btn btn-default" style="border-radius: 4px;" onclick="loadAnalytics()">Process Analytics</button>
                <button id="btnExportProcess" class="btn btn-default" style="border-radius: 4px; margin-left: 5px" data-toggle="modal" data-target="#exportModal" >Export Process</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="pname" value="{{processName}}">
    <input type="hidden" id="pversion" value="{{processVersion}}">
</div>

<!-- Modal -->
<div class="modal fade" id="exportModal">
<div class="modal-dialog">
    <div class="modal-content"  >
      <div class="modal-header" style="color:white">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white"><i class="fw fw-cancel"></i></button>
        <h4 class="modal-title">Do you want to export the process with associations ?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"onclick="exportProcess('{{processName}}','{{
                processVersion}}',true)">Yes</button>
        <button type="button" class="btn btn-primary" onclick="exportProcess('{{processName}}','{{
                processVersion}}',false)">No</button>
      </div>
    </div>
  </div>
</div>