<script>
                
                var isSocial = ('{{isSocial}}' == 'true');
                
</script>
{{#with assets}}
<form class="form-horizontal" id='form-asset-update' method='post' action='{{url ""}}/apis/assets/{{id}}?type={{../rxt.shortName}}' >
    <div class="control-group">
        <div class="toolbox">
            <div class="chevron-toolbox" id="cId">
            <textarea  class="text-edit"name="0"></textarea>
            </div>
             <button type="button" class="connectionsBtn" id="connectionVisibility">Hide Connections</button>
        </div>
       
        <div id="canvasArea"></div>
        <div id= "proptable">
            <table id="htmlgrid" class="testgrid">
                <tr>
                    <th>Properties</th>
                    <th>Value</th>
                </tr>
                <tr id="R1">
                    <td>Name</td>
                    <td class="T"><input type="text" value="{{name}}" name="properties_name" id="properties_name"></td>
                </tr>
                <tr id="R2">
                    <td>Owner</td>
                    <td><input type="text" value="{{this.tables.[1].fields.owner.value}}" name="properties_owner"></td>
                </tr>
                <tr id="R3">
                    <td>Predecessors</td>
                    <td><input type="text" value="{{this.tables.[1].fields.predecessors.value}}" name="properties_predecessors"></td>
                </tr>
                <tr id="R4">
                    <td>Successors</td>
                    <td><input type="text" value="{{this.tables.[1].fields.successors.value}}" name="properties_successors"></td>
                </tr>
                <tr id="R5">
                    <td>Description</td>
                    <td><input type="text" value="{{this.tables.[0].fields.description.value}}"name="properties_description"></td>
                </tr>
            </table>
        </div>
        <hr width="800px" />
        <div id="images">
            <table>
                <tbody><tr>
                    <td><b><label class="control-label">Thumbnail</label></b></td><td><input type="file" value="" name="images_thumbnail" class="input-large"></td>
                </tr>
            </tbody></table>
        </div>
    </div>
    <div>{{> edit-element-properties .}}</div>
    <div id="saveButtons" class="form-actions">
        <input type="submit" value="Update" class="btn btn-primary"
        name="editAssetButton" id="editAssetButton">
        <input type="hidden" value="{{rxt.shortName}}" name="{{rxt.shortName}}" id="meta-asset-type">
    </div>
</form>
{{/with}}