<script>
                var isSocial = ('{{isSocial}}' == 'true');
        
</script>
{{#with assets}}
<div class='content-div'>
    <div class="tab-content asset-tab-content">
        <div id="view" class="asset-view-container">
            <div class="row-fluid asset-detail-top-row">
            </div>
            <div class="row-fluid asset-details-row">
                <div class="span12 asset-content-box">
                    <div class="widget wlightblue">
                        <div class="widget-head">
                            <div class="pull-left">{{name}}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget-content">
                            <div id ="default-canvas">
                                <div id="canvasArea">
                                </div>
                            </div>
                            <div id = "ast-properties">
                                <div id="viewMainProps" name= "propTable">
                                    <hr width="800">
                                    <table id="htmlgrid" class="testgrid" >
                                        <tr>
                                            <th>Properties</th>
                                            <th>Value</th>
                                        </tr>
                                        <tr id="tr_name">
                                            <td>Name</td>
                                            <td id = "td_name" class="processName">{{name}}</td>
                                        </tr>
                                        <tr id="tr_owner">
                                            <td>Owner</td>
                                            <td id = "td_owner">{{this.tables.[1].fields.owner.value}}</td>
                                        </tr>
                                        <tr id="R1">
                                            <td>Predecessors</td>
                                            <td id = "td_pre">{{this.tables.[1].fields.predecessors.value}}</td>
                                        </tr>
                                        <tr id="R2">
                                            <td>Successors</td>
                                            <td id = "td_suc">{{this.tables.[1].fields.successors.value}}</td>
                                        </tr>
                                        <tr id="R5">
                                            <td>Description</td>
                                            <td id = "td_desc">{{this.tables.[0].fields.description.value}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div>
                                    {{> view-element-properties .}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/with}}