<!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<form  method='post' action='{{url ""}}/assets/{{rxt.shortName}}/apis/packages?type={{rxt.shortName}}' class="form-horizontal" id="form-asset-create" data-redirect-url='{{url ""}}/assets/{{rxt.shortName}}/list' >     
    <div class="control-group">
        {{#each assets.tables}}
            {{#if_equal this.name "runtimeEnvironment"}}
            {{else}}
                {{renderTable .}}
            {{/if_equal}}
        {{/each}}
    </div>
    {{#if groupingFeature.isEnabled}}
    <div class="control-group">
        <h3>Versioning</h3>
        <div class="checkbox">
            <label>
                <input type='checkbox' name="_default"> {{t "Make this the default"}}                
            </label>
        </div>
    </div>
    {{/if}}
    <div id='zip-ui-container'>
        <h2 class="field-title">
            <a href="#collapseZip" aria-expanded="false" class="collapsing-h2" >
                <i class="cu-btn-exp-col btn-collapsed">{{t "Package Zip"}}</i>
            </a>
        </h2>
        <div class="responsive-form-container" id="collapseZip">
            <div class="form-group">
                <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12 text-right" for="package_zip">{{t "Package Bar file"}}<sup class="text-danger"> *</sup></label>
                <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                    <input type='file' name='package_file' id='package_file' class="validate-required" accept=".bar"/>
                    <!--Use a hidden field to save the zip name and pass it to request, as 'file' attribute is not passed to the request unless it is defined in the rxt.-->
                    <input type='hidden' name='package_file_name' id='package_file_name' />
                </div>
            </div>
        </div>
    </div> 
    <div id='tag-ui-container'>
        <h2 class="field-title">
            <a href="#collapseTags" aria-expanded="false" class="collapsing-h2" >
                <i class="cu-btn-exp-col btn-collapsed">{{t "Tags"}}</i>
            </a>
        </h2>
        <div class="responsive-form-container" id="collapseTags">
            {{> tag-ui-container .}}
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group" id="saveButtons">
        <div class="col-sm-offset-2 col-sm-10">
            <input type='submit' id="btn-create-asset" class="btn btn-primary" name="addNewAssetButton" value='{{t "Create"}}'>
            <button class="btn btn-default" type="reset">{{t "Reset"}}</button>
            <input type="hidden" value="{{rxt.shortName}}" name="{{rxt.shortName}}" id="meta-asset-type">
        </div>
    </div>
</form>