<!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
{{#with assets}}
    <div class="well asset-well">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 thumbnail-width-fixer">
                    {{>asset-thumbnail .}}
                </div>
                <div class="col-lg-10 col-md-10">
                    <input type="hidden" id ="packageName" value="{{name}}">
                    <h1 class="asset-name">{{name}}</h1>
                    {{#if version}}
                        <input type="hidden" id ="packageVersion" value="{{version}}">
                        <h5 class="ast-ver ast-details">Version : {{version}}</h5>
                    {{/if}}
                    {{#if deployState}}
                        <h5 class="ast-lc ast-details">{{deploy}} : {{deployState}}</h5>
                    {{/if}}
                    {{#if createdDate}}
                    <div class="well-description padding-bottom-lg">{{createdDate}}</div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
{{/with}}
  {{#if deploymentInfo.status}}
    <div class="deployInfo" id="deployInfoModal">
      <h3>
          <i class="fw fw-settings deploys-mgt-icon"></i> 
          <span>Deployment Information</span>
      </h3>
      <br/>
      <h5>Last Updated Time: <span class="text-muted">{{deploymentInfo.lastUpdatedDate}}</span></h5>
      <h5>Last Update By: <span class="text-muted">{{deploymentInfo.username}}</span></h5>
      {{#if deploymentInfo.deploymentID}}
        <h5>Deployment ID: <span class="text-muted">{{deploymentInfo.deploymentID}}</h5>
        <h5>State: <span class="text-muted">{{deploymentInfo.status}}</span></h5>
      
      {{else}}
        {{#if_equal deploymentInfo.status "UPLOADED"}}
        <div class="form-inline">
          <div class="message message-info">
              <h5><i class="icon fw fw-info"></i>  Package Uploaded</h5>
              <p id="deploy-msg">{{t "Package has been uploaded to Prcoess server. Process server may take sometime to deploy package "}}
                  <b>{{t assets.name}}</b>{{t " "}}</p>
          </div>
          <button type="button" id="btn-associate_deployment" class="btn btn-primary">{{t "Get Deployment ID"}}</button>
      </div>
        {{/if_equal}}
      {{/if}}
      <div class="container-fluid">
        {{#if deploymentInfo.bpmnResources}}
           <table class="table table-striped table-hover table-responsive list-table display responsive nowrap data-table dataTable no-footer" id="deploy_info_table" role="grid" aria-describedby="deploy_info">
              <thead>
                 <tr>
                    <th>BPMN Resource</th>
                    <th>Process Name</th>
                    <th>Runtime Process ID</th>
                 </tr>
              </thead>
              <tbody>
                 {{#each deploymentInfo.bpmnResources}}
                   <tr role="row">
                      <td data-title="BPMNResourceName">{{this.packageBpmnFileName}}</td>
                      <td data-title="ProcessName">{{this.processName}}</td>
                      <td data-title="ProcessVersion">{{this.processID}}</td>
                   </tr>
                 {{/each}}
              </tbody>
           </table>
        {{/if}}
      </div>
    </div>
  {{/if}}
  <div class="deploy" id="deployModal">
    <div class="form-inline">
      <div class="message message-info">
        {{#if deploymentInfo.status}}
          <h5><i class="icon fw fw-info"></i>  Asset Redeployment</h5>
          <p id="deploy-msg">
          {{t "Do you want to redeploy "}}
        {{else}}
          <h5><i class="icon fw fw-info"></i>  Asset Deployment</h5>
          <p id="deploy-msg">
          {{t "Do you want to deploy "}}
        {{/if}}
        <b>{{t assets.name}}</b>{{t " "}}{{t rxt.singularLabel}} ?</p>
      </div>
      <input type="hidden" id="asset-id" value="{{assets.id}}">
      <input type="hidden" id="asset-name" value="{{assets.name}}">
      <input type="hidden" id="asset-type" value="{{assets.type}}">
      <input type="hidden" id="landing-page" value="{{meta.landingPage}}">
      <button type="button" id="btn-deploy-con" class="btn btn-primary">
      {{#if deploymentInfo.status}}
        {{t "Redeploy"}}
      {{else}}
        {{t "Deploy"}}
      {{/if}}</button>
      <button type="button" id="btn-cancel-con" class="btn btn-default">{{t "Cancel"}}</button>
    </div>
</div>







 





