{{!---   /*
 * Copyright (c) WSO2 Inc, 2015. (http://wso2.com) All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 --}}
{{#with assets}}
    <form method='post' action='{{url ""}}/apis/assets?type={{../rxt.shortName}}'
          class="form-horizontal" id="form-asset-create"
          data-redirect-url='{{url ""}}/asts/{{../rxt.shortName}}/list'>
        <div class="control-group">
            <div id="headers">
                <table>
                    <tbody>
                    <tr>
                        <input type="text" placeholder="Enter Executable Process Name"
                               name="overview_name" id="processName" class="input-large"
                               style="width:785em">
                    </tr>
                    <tr>
                        <td><input type="text" placeholder="Enter Provider Name"
                                   name="overview_provider" class="input-large" style="width:425em">
                        </td>
                        <td><input type="text" placeholder="Enter Verision" name="overview_version"
                                   class="input-large" style="width:343em">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr width="800em"/>
            <div id="upload_area">
                <table>
                    <tbody>
                    <tr>
                        <td><b><label class="control-label">Process Archive</label></b></td>
                        <td><input type="file" value="" name="images_processArchive"
                                   class="input-large"></td>
                    </tr>
                    </tbody>
                </table>
                <hr width="800em"/>
            </div>
            <div style="padding-bottom:15em"><textarea
                    placeholder="Enter Executable Process Desciption " rows="5"
                    id="overview_description" name="overview_description" class="input-large"
                    style="width:785em"></textarea></div>
            <div id="proptable">
                <table id="htmlgrid" class="testgrid">
                    <tr>
                        <th>Properties</th>
                        <th>Value</th>
                    </tr>
                    <tr id="R1">
                        <td>Owner</td>
                        <td><input type="text" value="" id="properties_owner"
                                   name="properties_owner"
                                   style="border:none;border-color:transparent;"></td>
                    </tr>
                    <tr id="R2">
                        <td>Deployment URL</td>
                        <td><input type="text" value="" id="properties_deploymentUrl"
                                   name="properties_deploymentUrl"
                                   style="border:none;border-color:transparent;"></td>
                    </tr>
                    <tr id="R3">
                        <td>Web App URL</td>
                        <td><input type="text" value="" id="properties_webappUrl"
                                   name="properties_webappUrl"
                                   style="border:none;border-color:transparent;"></td>
                    </tr>
                    <tr id="R4">
                        <td>IT Support</td>
                        <td><input type="text" value="" id="properties_itSupport"
                                   name="properties_itSupport"
                                   style="border:none;border-color:transparent;"></td>
                    </tr>
                    <tr id="R5">
                        <td>Developers</td>
                        <td><input type="text" value="" id="properties_developers"
                                   name="properties_developers"
                                   style="border:none;border-color:transparent;"></td>
                    </tr>
                    <tr id="R6">
                        <td>Predecessors</td>
                        <td><input type="text" value="" id="properties_predecessors"
                                   name="properties_predecessors"
                                   style="border:none;border-color:transparent;"></td>
                    </tr>
                    <tr id="R7">
                        <td>Successors</td>
                        <td><input type="text" value="" id="properties_sucessors"
                                   name="properties_sucessors"
                                   style="border:none;border-color:transparent;"></td>
                    </tr>
                    <tr id="R8">
                        <td>Generalizations</td>
                        <td><input type="text" value="" id="properties_generalizations"
                                   name="properties_generalizations"
                                   style="border:none;border-color:transparent;"></td>
                    </tr>
                    <tr id="R9">
                        <td>Specialization</td>
                        <td><input type="text" value="" id="properties_specializations"
                                   name="properties_specializations"
                                   style="border:none;border-color:transparent;"></td>
                    </tr>
                </table>
            </div>
            <hr width="800em"/>
            <div id="images">
                <table>
                    <tbody>
                    <tr>
                        <td><b><label class="control-label">Thumbnail</label></b></td>
                        <td><input type="file" value="" name="images_thumbnail" class="input-large">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="saveButtons" class="form-actions">
            <input type='submit' id="btn-create-asset" class="btn btn-primary"
                   name="addNewAssetButton" value='{{t "Create"}}'>
            <button class="btn" type="reset">{{t "Reset"}}</button>
            <input type="hidden" value="{{rxt.shortName}}" name="{{rxt.shortName}}"
                   id="meta-asset-type">
        </div>
    </form>
{{/with}}